.cnode_home{
    // padding-top: .3rem;
    background-color: rgb(255, 249, 249);
    width: 100%;
    margin-top: .3rem;
    // margin-bottom: 1rem;''
    border-radius: .1rem; 
    overflow-x: hidden;
    &--nav {
        height: 1rem;;
        width: 100%;
        background: #dde6e0;
        &-ul {
          height: 100%;
          color: #979497;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 0.28rem;
          &_li{
              color:rgb(128,189,1);
          }
          &_active{
              color:#fff;
              padding: .1rem;
              background: rgb(128,189,1);
              border-radius: .05rem;
          }
        }
      }
      &-wrap{
          &_list{
              display: flex;
              // justify-content: center;
              align-items: center;
              border-bottom: 1px solid #6d706e;
              width: 100%;
              &_link{
                height: 100%;
                width: 100%;
                font-size: .32rem;
                color: #141815;
                &--content{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: .15rem;
                  &-img{
                      width: .6rem;
                      height: .6rem;
                      border-radius: .1rem;
                  }
                  &-title{
                      padding-left: .2rem;
                      display: flex;
                      align-items: center;
                      &_theme{
                        width: 1rem;
                      }
                      &_reply{
                        font-size: .1rem;
                        i{
                          font-style: normal;
                          color: #aa6894
                        }
                      }
                      &-tab{
                        color:rgb(153, 153, 153);
                        padding: .1rem;
                        width: .5rem;
                        background:rgb(229, 229, 229);
                        border-radius: .05rem;
                        display: inline-block;
                        font-size: .1rem;
                      }
                      &-top{
                        color:#fff;
                        padding: .1rem;
                        background: rgb(128,189,1);
                      }
                      &_txt{
                        width: 4rem;
                        padding-left: .3rem; 
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: .26rem;
                        display: block;
                      }
                      &_time{
                        text-align: right;
                        font-size: .1rem;
                        margin-left: .2rem;
                        color: rgb(136,136,136);
                      }
                  }
                }
              }
          }
      }
}